* {
  color: lightcoral;
  font-size: 1.1em;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}

#cabecera {
  background-color: hotpink;
  color: gray;
  text-align: left;
}

p {
  color: gray;
  font-size: .9em;
  text-align: justify;
}

.container {
  padding: 1em;
  margin: auto;
  width: 700px;
  border: 1px solid gray;
}
