* {
  color: lightcoral;
  font-size: 1.2em;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}

p {
  color: gray;
  font-size: 1em;
  text-align: justify;
}

.container {
  padding: 1em;
  margin: auto;
  width: 700px;
  background-color: ;
  border: 1px solid gray;
}
